body {
    margin: 0;
    font-size: 17px;
    line-height: 25.5px;
    color: #D7D7D7;
    background-color: #3A3B3A;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}